---
import BlogLayout from "../../layouts/BlogLayout.astro";
import ArchiveCard from "../../components/blog/ArchiveCard.astro";
---

<BlogLayout pageTitle="Blog Archive">
  <h1>Blog Archive</h1>
  <ArchiveCard />
</BlogLayout>
