@import "tailwindcss";
@import "@catppuccin/tailwindcss/macchiato.css";
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.js";

@theme inline {
  --font-title: "Unica One";
  --font-sans: "Atkinson Hyperlegible";
  --font-mono: "Monaspace Neon";
  --box-shadow-footer: "0 -10px 12px rgba(24,25,38,0.5)";
  --cursor-coffee: "url('/images/coffee.cur'), url('/images/coffee.png'), auto";
  --cursor-coffee_select: "url('/images/coffee_select.cur'), url('/images/coffee_select.png'), auto";
}

@layer components {
  .title {
    background: var(--color-ctp-red);
    background: linear-gradient(
      to right,
      var(--color-ctp-red) 0%,
      var(--color-ctp-peach) 17%,
      var(--color-ctp-yellow) 34%,
      var(--color-ctp-green) 51%,
      var(--color-ctp-blue) 68%,
      var(--color-ctp-lavender) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .badge[data-name*="ongoing"] {
    border-color: var(--color-ctp-sapphire);
    color: var(--color-ctp-sapphire);
  }

  .badge[data-name*="released"] {
    border-color: var(--color-ctp-green);
    color: var(--color-ctp-green);
  }
}

@layer utilities {
  .prose {
    ul {
      list-style-type: none;
    }

    ul li::before {
      content: "★";
      padding-right: 0.3rem;
      color: var(--color-ctp-yellow);
    }

    ul li p {
      display: inline;
    }

    p img {
      padding: 0px;
      margin: 0px;
    }
  }
}
