@import "tailwindcss";
@import "@fontsource-variable/atkinson-hyperlegible-next/wght.css";
@import "@fontsource/monaspace-neon";
@import "@fontsource/unica-one";
@plugin "@tailwindcss/typography";

@import "./colors.css";

@theme {
  --font-sans: "Atkinson Hyperlegible Next Variable", sans-serif;
  --font-mono: "Monaspace Neon", monospace;
  --font-title: "Unica One", sans-serif;
  --box-shadow-footer: "0 -10px 12px rgba(24,25,38,0.5)";
}

@layer components {
  .title {
    background: var(--color-ctp-red);
    background: linear-gradient(
      to right,
      var(--color-ctp-red) 0%,
      var(--color-ctp-peach) 17%,
      var(--color-ctp-yellow) 34%,
      var(--color-ctp-green) 51%,
      var(--color-ctp-blue) 68%,
      var(--color-ctp-lavender) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .badge[data-name*="ongoing"] {
    border-color: var(--color-ctp-sapphire);
    color: var(--color-ctp-sapphire);
  }

  .badge[data-name*="released"] {
    border-color: var(--color-ctp-green);
    color: var(--color-ctp-green);
  }
}

@layer utilities {
  .prose {
    @apply text-ctp-text;
  }

  .prose ul {
    @apply list-none;
  }

  .prose ul li::before {
    @apply text-ctp-yellow pr-1.5;
    content: "★";
  }

  .prose ul li p {
    @apply inline;
  }

  .prose p img {
    @apply m-0! p-0!;
  }

  .prose b,
  .prose strong {
    @apply text-ctp-green;
  }

  .prose em,
  .prose i {
    @apply text-ctp-sky;
  }

  .prose h1 {
    @apply text-ctp-red;
  }
  .prose h2 {
    @apply text-ctp-peach;
  }
  .prose h3 {
    @apply text-ctp-yellow;
  }
  .prose h4 {
    @apply text-ctp-green;
  }
  .prose h5 {
    @apply text-ctp-blue;
  }
  .prose h6 {
    @apply text-ctp-lavender;
  }
}

body {
  cursor: url("/images/coffee.cur"), url("/images/coffee.png"), auto !important;
}

.prose a:any-link {
	@apply text-ctp-blue hover:text-ctp-rosewater hover:underline hover:underline-offset-4 hover:decoration-dotted hover:decoration-3;
  cursor: url("/images/coffee.cur"), url("/images/coffee.png"), auto !important;
  text-decoration-skip-ink: none;
}

.prose a:hover {
  cursor:
    url("/images/coffee_select.cur"), url("/images/coffee_select.png"), auto !important;
}
