:root[data-theme="light"] {
  --sl-color-teal: #179299;
  --sl-color-yellow: #df8e1d;
  --starlight-image-zoom-backdrop-bg: rgba(220, 224, 232, 0.75);
}

:root[data-theme="dark"] {
  --sl-color-teal: #8bd5ca;
  --sl-color-yellow: #eed49f;
  --starlight-image-zoom-backdrop-bg: rgba(24, 25, 38, 0.75);
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  cursor: url("/images/coffee.cur"), url("/images/coffee.png"), auto !important;
}

a:any-link {
  cursor: url("/images/coffee.cur"), url("/images/coffee.png"), auto !important;
}

a:hover,
summary,
select,
option,
button {
  cursor: url("/images/coffee_select.cur"),
    url("/images/coffee_select.png"), auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
code,
pre {
  font-family: "Monaspace Neon", monospace !important;
}

h1 {
  color: var(--sl-color-red) !important;
  font-size: 2.25em !important;
}

h2 {
  color: var(--sl-color-orange) !important;
  font-size: 1.5em !important;
}

h3 {
  color: var(--sl-color-yellow) !important;
  font-size: 1.25em !important;
}

h4 {
  color: var(--sl-color-green) !important;
}

strong,
b {
  color: var(--sl-color-green) !important;
}

em,
i {
  color: var(--sl-color-teal) !important;
}

a.site-title img {
  width: 20px;
}

[class*="markdown-content"] ul {
  list-style-type: none;
}

[class*="markdown-content"] ul li::before {
  content: "★";
  padding-right: 0.3rem;
  color: var(--sl-color-yellow);
}

[class*="markdown-content"] ul li p {
  display: inline;
}
