---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Credits">
  <h1>Credits</h1>
  <h2>Basics</h2>
  <ul>
    <li>
      Built using <a href="https://astro.build">Astro</a>, Typescript, and <a
        href="https://tailwindcss.com">TailwindCSS</a
      >.
    </li>
    <li>
      Hosted by <a href="https://netlify.com">netlify</a>.
    </li>
  </ul>
  <h2>Themes & Color Scheme</h2>
  <ul>
    <li>
      Inspired by <a href="https://catppuccin.com">Catppuccin</a>.
    </li>
    <li>
      Fandom & Tech pages use <a href="https://starlight.astro.build/"
        >Astro Starlight</a
      > & <a href="https://github.com/TheOtterlord/catppuccin-starlight"
        >Starlight Catppuccin</a
      >.
    </li>
  </ul>
  <h2>Fonts</h2>
  <ul>
    <li>
      <a href="https://fonts.google.com/specimen/Unica+One"> Unica One </a>
      for "enigmalea" header.
    </li>
    <li>
      <a href="https://brailleinstitute.org/freefont">
        Atkinson Hyperlegible
      </a>
      for body text.
    </li>
    <li>
      <a href="https://monaspace.githubnext.com/">Monaspace Neon</a> for header,
      monospace, and code text.
    </li>
    <li>
      <a href="https://simpleicons.org/">Simple Icons</a> for brand icons.
    </li>
    <li><a href="https://lucide.dev/">Lucide</a> for other icons.</li>
  </ul>
  <h2>Art</h2>
  <ul>
    <li>
      Mascot by
      <a href="https://ko-fi.com/KiingFluffybuns">KiingFluffybuns</a>
    </li>
  </ul>
  <h2>Badges & Buttons</h2>
  <ul>
    <li>
      Coffee Geek, Fuck Gender, Elf Love, and Get Firefox badges from
      <a href="https://web.badges.world/#">Web Badges World</a>
    </li>
    <li>
      Queer badge from
      <a href="https://pixels.heylouise.space/">Elfwink's Pixels</a>
    </li>
    <li>
      AO3 Explicit button from
      <a href="https://dldr.xyz/web">bloodwrites</a>
    </li>
  </ul>
  <h2>Packages, Resources, & Components</h2>
  <ul>
    <li>
      <a href="https://www.astroicon.dev/"> Astro Icon </a> & <a
        href="https://iconify.design/">Iconify</a
      >
    </li>
    <li>
      <a href="https://github.com/surjithctly/astro-navbar#readme">
        Astro Navbar
      </a>
    </li>
    <li>
      <a href="https://fontsource.org/"> Fontsource </a>
    </li>
    <li>
      <a href="https://expressive-code.com/">Astro Expressive Code </a>
    </li>
    <li>
      <a
        href="https://woongsnote.hashnode.dev/enhancing-user-experience-with-a-back-to-top-button-in-astro#heading-integration-with-astro-and-tailwind-css"
      >
        Back To Top Tutorial
      </a>
    </li>
    <li>
      <a href="https://github.com/HiDeoo/starlight-sidebar-topics"
        >starlight-sidebar-topics</a
      >
    </li>
    <li>
      <a href="https://starlight-image-zoom.vercel.app/getting-started/"
        >starlight-image-zoom</a
      >
    </li>
  </ul>
</Layout>
