---
import Layout from "../layouts/Layout.astro";
import Badges from "../components/Badges.astro";
import Updates from "../components/Updates.astro";
---

<Layout>
  <h1>Welcome!</h1>

  <p>
    You might be wondering what exactly this place is and how you got here. How
    you got here is easy: you likely clicked on a random link from one of the
    many social media sites I visit and ended up here.
  </p>

  <p>
    This is a personal site, my own little corner of the internet where I post
    all the stuff that I'd rather have gathered up into one area. You can find
    all my social media links, check out my projects, find some tutorials,
    resources, and recs for my many interests. There is also from time-to-time
    fandom shenanigans.
  </p>

  <p>In short, it's a peek into my chaotic, ADD brain.</p>

  <h2>Where to Find Me</h2>
  <p>
    My social media are linked in the header. I tend to be most active on my
    various Discord servers, but I meander to other social media sometimes. Feel
    free to reach out to chat about Dragon Age or any of my other interests at
    any time. I'm not great about keeping up with conversations, tbh, because of
    my ADD, but I really am trying to get better about it.
  </p>

  <h2>Site Updates</h2>
  <p>
    <Updates />
  </p>

  <Badges />
</Layout>
