---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Exchange Letter" description="enigmalea's general 'Dear Creator' letter used for fandom exchanges.">
  <h1>Dear Creator</h1>
  <p>
    Thanks so much for taking some time to read my letter to get a better feel
    for things I like and don't like. This is my general info, but more
    specifics of what I'm looking for are usually included with my prompts
    during sign-up. If you have any questions, please feel free to send me <a
      href="https://enigmalea.tumblr.com/ask">an anon ask on tumblr</a
    >, reach out to mods, or contact my BFF FoxInBoots who knows 100% of what I
    like and will never steer you wrong.
  </p>
  <p>
    For any ships which contain OCs I'm <u>always</u> okay with receiving fics and
    art with your own OCS, default characters, or my own OCs. The choice is yours.
    When requesting OCs, I usually link to relevant info for them on the AO3 request!
  </p>
  <p>
    I'm also never set on any prompts listed in or provided with my sign-up;
    they're only there to help you get started if you're having trouble. I
    welcome anything not on my DNWs!
  </p>
  <p class="bold text-center text-lavender">Happy creating!</p>
  <p class="text-center">
    Jump to: <a
      href="#likes"
      class="px-2 text-green no-underline hover:bg-green hover:text-base"
      >Likes</a
    > ☆ <a
      href="#dnw"
      class="px-2 text-red no-underline hover:bg-red hover:text-base"
      >Do Not Wants</a
    >
  </p>
  <hr />
  <section>
    <a id="likes"></a>
    <h2 class="text-green">Likes</h2>
    <p>
      Below are a few tags I find myself looking for often, or things I'm
      interested in seeing. These are in no way exclusive or exhaustive. If it's
      not a DNW I'm still interested in reading it.
    </p>
    <p>
      <strong>General:</strong> angst with a happy ending, angst and smut, smut,
      fluff, positive/healthy polyamory, Third Person POV (occasional First Person
      POV), Fade sex.
    </p>
    <p>
      <strong>AUs:</strong> Modern Thedas, Modern w/ Magic, Coffee Shop, College,
      Historical (Regency or other time period), vampire AUs, werewolf AUs, steampunk,
      cyberpunk... honestly, any AU where Thedosian characters aren't all human/live
      without magic.
    </p>
    <p>
      <strong>Tropes:</strong> Gay/bisexual panic (aka the "<em>oh</em>"
      moment), "only one bed", pretend dating, arranged marriage where they fall
      for each other, one-sided pining, idiots-to-lovers, enemies-to-lovers,
      friends-to-lovers, roommates, accidental polyamory, intentional polyamory
      with negotiations.
    </p>
    <p>
      <strong>Smut/Kinks:</strong> BDSM, edging, restraints, blindfolds, collars,
      nipple play, anal play, pegging, frottage/outercourse, intercrural sex, oral
      sex, deep throating, face fucking, biting/marking, rough sex, praise kinks,
      impact play, shibari, temp play, double penetration, spit-roasting, breath
      play, semi-public sex, voyeurism/exhibitionism, sexting/cybersex/phone sex,
      multiple orgasms, power bottoms/bottom Doms, submissive tops, after care.
    </p>
    <p>
      <strong>Specific Characters:</strong>
      <em>
        I particularly enjoy characters in these roles, but I'm not set on them.
      </em> Bottom Iron Bull, sub Iron Bull, dominant/Dom bottom Anders, sub Solas.
    </p>
    <p>
      <strong>Art Prefs:</strong> I enjoy a wide variety of styles. I tend to lean
      toward enjoying AUs for art and soft, domestic fluff. Smutty art is always
      welcome. Feel free to illustrate anything from <a
        href="https://archiveofourown.org/users/enigmalea/works"
      >
        my works
      </a> that fit the theme of the exchange (if any) and that inspires you. I really
      like visual storytelling and comics if that's more your style.
    </p>
    <p>
      I recently started collecting <a
        href="https://raindrop.io/enigmalea/art-prompts-27576487/theme=auto"
      >
        palette challenges and pose references for artists
      </a> who are looking for something different as inspiration. My particular
      faves are noted, but feel free to use any of the palettes or poses to start.
    </p>
    <p>
      <strong>Other Prefs:</strong> I enjoy pretty much all fan content - photo manips,
      rotoscopes, playlists, podfic. As with art above, feel free to base gifts on
      my own content if you'd like or do something completely original. Graphics
      meant to mimic found documents (field notes, journals, etc) and other ephemera
      (letters, notes, etc) are a particular fave.
    </p>
  </section>
  <hr />
  <section
    class="prose-headings:text-red prose-strong:text-red prose-em:text-maroon"
  >
    <a id="dnw"></a>
    <h2>Do Not Wants</h2>
    <h3>DNW to Receive Under Any Circumstances</h3>
    <p>
      <strong>General:</strong> Character/Reader (or Second Person), character bashing,
      non-canonical major character death, abuse (mental, emotional, or physical).
    </p>
    <p>
      <strong>AUs:</strong> AUs where everyone is human or where there is no magic
      (or at least some type of abilities. I'm okay if... for example magic is swapped
      for Biotics or psychic abilities or something). Anything too rooted in the
      real world. It doesn't bother me for a WWII AU to mention actual battles or
      real world cities, but if that's happening I wanna hear about how mages are
      being used instead of infantry and medics are called healers... if that makes
      sense. Omegaverse.
    </p>
    <p>
      <strong>Tropes:</strong> genderbending, racebending, mpreg, cheating, forced
      relationships (including coercion; arranged marriages are okay), forced pregnancy,
      anything that focuses too much on "breeding" as an ultimate goal.
    </p>
    <p>
      <strong>Smut/Kinks:</strong> noncon (consensual non-consent okay), dubcon with
      alcohol/drug use (i.e. they get drunk and have sex without consent being established
      ahead of time. dub-con due to secrets/hidden identities is fine.), adult/minor,
      fisting, bodily waste products (blood play is fine), sounding, incest, humiliation
      (impact play or other punishments are okay, but verbal humiliation is not okay),
      ageplay (DD/lg), raceplay, A/B/O (knotting okay), tentacles, other monsters
      than those in my likes, oviposition, vore, bestiality.
    </p>
    <p>
      <strong>Specific Ships/Characters:</strong>
      <em>Please avoid these ships, even as side mentions:</em> Colemance, Sera/Adaar,
      Sera/Lavellan. <br />
      <em>
        Please do not focus on the following characters (casual mentions & minor
        appearances are okay):
      </em> Aveline, Isabela. <br />
      <em>Character Specific DNW:</em> Please do not nickname Anders "Andy".
    </p>
  </section>
  <section
    class="prose-headings:text-peach prose-strong:text-peach prose-em:text-yellow"
  >
    <h3>Conditional DNWs</h3>
    <p>
      <em>
        Please proceed cautiously with the below tropes/topics. In some
        circumstances these things are fine, but in others they bother me. If
        you have any questions please feel free to reach out to me via anon ask.
        I can always talk about things that bother/squick/trigger me without
        issues.
      </em>
    </p>
    <p>
      <strong>Tranquil Mage, Red Lyrium Corruption:</strong> Both of these particularly
      if done as punishment or only to explore the angst inflicted <u
        >on other characters</u
      >; I'm okay if it ends in a happy ending or the person is somehow cured of
      Tranquility/Corruption. I'm also okay to see canonically
      Tranquil/Corrupted characters or to have Tranquil/Corrupted characters
      play a part in a fic. (i.e. you can write about Redcliffe's red lyrium
      future, or Samson, but please don't "punish" a character who isn't
      corrupted with red lyrium in canon by giving them red lyrium.)
    </p>
    <p>
      <strong>Invasion of Privacy:</strong> Invasion of privacy as a joke/to embarrass
      someone or to "catch" someone cheating always bother me, as does parents snooping
      on their children; however, accidental instances or investigations of legitimate
      concerns don't bother me. Examples of okay: accidentally seeing a text message,
      email, bit of a journal entry because it's there, investigating someone's past
      because you suspect they're a spy/putting people in danger. Not okay: breaking
      into someone's phone because you think they're cheating, accessing someone's
      email to find out who they're dating, reading someone's journal to find out
      who they were with because they aren't "allowed" to be friends with someone.
    </p>
  </section></Layout
>
