---

---

<button
  id="back-to-top"
  class="invisible rounded-full p-2 text-text opacity-0 transition-opacity duration-300 hover:bg-overlay0 absolute right-0 bottom-0"
  aria-label="Back to top"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
  </svg>
</button>

<script>
  const backToTopButton = document.getElementById("back-to-top");

  function toggleBackToTopButton() {
    if (window.scrollY > 300) {
      backToTopButton!.classList.remove("opacity-0", "invisible");
      backToTopButton!.classList.add("opacity-100", "visible");
    } else {
      backToTopButton!.classList.add("opacity-0", "invisible");
      backToTopButton!.classList.remove("opacity-100", "visible");
    }
  }

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  }

  window.addEventListener("scroll", toggleBackToTopButton);
  backToTopButton!.addEventListener("click", scrollToTop);
</script>
