---
import "@fontsource/unica-one";
import Socials from "../components/Socials.astro";
---

<header class="mx-auto w-[95vw] bg-base md:max-w-[800px]">
  <div class="mx-auto mb-[-20px] w-fit font-title text-[16vw] sm:text-[7rem]">
    <span
      class="via-orange bg-gradient-to-r from-red to-yellow bg-clip-text text-transparent"
      >enig</span
    ><span
      class="bg-gradient-to-r from-green via-blue to-lavender bg-clip-text text-transparent"
      >malea</span
    >
  </div>
  <Socials />
</header>
