---
import "@fontsource/unica-one";
---

<div
  class="mx-auto block w-fit pb-10 pt-14 font-title text-[16vw] leading-10 sm:text-[7rem]"
>
  <span
    class="via-orange bg-gradient-to-r from-red to-yellow bg-clip-text text-transparent"
    >enig</span
  ><span
    class="bg-gradient-to-r from-green via-blue to-lavender bg-clip-text text-transparent"
    >malea</span
  >
</div>
