---
import "@fontsource/unica-one";
import Socials from "./Socials.astro";
---

<div class="mx-auto block w-fit font-title text-[18vw] sm:text-[7rem]">
  <span
    class="via-orange bg-gradient-to-r from-red to-yellow bg-clip-text text-transparent"
    >enig</span
  ><span
    class="bg-gradient-to-r from-green via-blue to-lavender bg-clip-text text-transparent"
    >malea</span
  >
</div>
<Socials />
