---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
  StickyHeader,
} from "astro-navbar";
import { Icon } from "astro-icon/components";
---

<StickyHeader
  class="sticky top-0 z-50 m-auto w-[95vw] gap-5 border-b border-overlay0 p-5 py-3 shadow-xl shadow-crust backdrop-blur-lg transition-all md:max-w-[800px] lg:flex"
  scrollY={50}
>
  <Astronav closeOnClick>
    <div class="flex w-full justify-between">
      <a href="/" class="text-2xl text-green hover:text-rosewater"
        ><Icon name="lucide:home" /></a
      >
      <div class="block lg:hidden">
        <MenuIcon class="h-4 w-4 text-text" />
      </div>
    </div>
    <MenuItems class="hidden w-full justify-end lg:grid">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        <li><a href="/blog" class="text-blue hover:text-rosewater">Blog</a></li>
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span>
                <a href="" class="text-blue hover:text-rosewater"
                  >Me <Icon name="lucide:chevron-down" class="inline" /></a
                >
              </span>
            </button>
            <DropdownItems class="relative">
              <div class="absolute top-0">
                <ul>
                  <li>Menu 1</li>
                  <li>Menu 2</li>
                  <li>Menu 3</li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <spa>
                <a href="" class="text-blue hover:text-rosewater"
                  >Fandom <Icon name="lucide:chevron-down" class="inline" /></a
                ></spa
              >
            </button>
            <DropdownItems class="relative">
              <div class="absolute top-0">
                <ul>
                  <li>Menu 1</li>
                  <li>Menu 2</li>
                  <li>Menu 3</li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span>
                <a href="" class="text-blue hover:text-rosewater"
                  >Tech <Icon name="lucide:chevron-down" class="inline" /></a
                ></span
              >
            </button>
            <DropdownItems class="relative">
              <div class="absolute top-0">
                <ul>
                  <li>Menu 1</li>
                  <li>Menu 2</li>
                  <li>Menu 3</li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span>
                <a href="" class="text-blue hover:text-rosewater"
                  >Other <Icon name="lucide:chevron-down" class="inline" /></a
                ></span
              >
            </button>
            <DropdownItems class="relative">
              <div class="absolute top-0">
                <ul>
                  <li>Menu 1</li>
                  <li>Menu 2</li>
                  <li>Menu 3</li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</StickyHeader>
