---
import { Icon } from "astro-icon/components";
---

<div class="flex justify-center gap-5 pb-4 pt-4 text-2xl sm:pt-0">
  <a
    href="https://ao3.org/users/enigmalea/profile"
    class="rounded-full border border-blue p-3 text-blue hover:border-transparent hover:text-rosewater"
    ><Icon name="simple-icons:archiveofourown" /></a
  >
  <a
    href="https://bsky.app/profile/enigmalea.quest"
    class="rounded-full border border-blue p-3 text-blue hover:border-transparent hover:text-rosewater"
    ><Icon name="simple-icons:bluesky" /></a
  >
  <a
    href="https://enigmalea.tumblr.com"
    class="rounded-full border border-blue p-3 text-blue hover:border-transparent hover:text-rosewater"
    ><Icon name="simple-icons:tumblr" /></a
  >
  <a
    href="https://easymode.im/@enigmalea"
    class="rounded-full border border-blue p-3 text-blue hover:border-transparent hover:text-rosewater"
    ><Icon name="simple-icons:mastodon" /></a
  >
  <a
    href="https://github.com/enigmalea"
    class="rounded-full border border-blue p-3 text-blue hover:border-transparent hover:text-rosewater"
    ><Icon name="simple-icons:github" /></a
  >
</div>
