---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  StickyHeader,
} from "astro-navbar";
import { Icon } from "astro-icon/components";
---

<StickyHeader
  class="sticky top-0 z-50 m-auto w-[95vw] gap-5 border-b border-overlay0 p-5 py-3 shadow-xl shadow-crust backdrop-blur-lg transition-all min-[860px]:w-[860px] lg:flex"
  scrollY={50}
>
  <Astronav closeOnClick>
    <div class="flex w-full justify-between">
      <a
        href="/"
        class="text-2xl text-green hover:text-rosewater"
        aria-label="Home Link"><Icon name="lucide:home" /></a
      >
      <div class="block lg:hidden">
        <MenuIcon class="h-4 w-4 cursor-coffee_select text-text" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        <li class="text-blue hover:text-rosewater">
          <a href="/blog/1">Blog</a>
        </li>
        <li>
          <Dropdown class="group">
            <button
              class="flex items-center text-blue hover:cursor-coffee_select hover:text-rosewater"
              arial-label="Me Menu"
            >
              <span class="pr-1"> Me </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3"
                stroke="currentColor"
                class="mt-0.5 h-3 w-3 group-open:rotate-180"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <DropdownItems class="relative">
              <div
                class="absolute top-0 min-w-[250px] border border-overlay0 bg-mantle p-3 shadow-md shadow-crust"
              >
                <ul>
                  <li class="text-blue hover:text-rosewater">
                    <a href="/projects">Projects</a>
                  </li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
        <li class="text-blue hover:text-rosewater">
          <a href="/fandom">Fandom</a>
        </li>
        <li class="text-blue hover:text-rosewater">
          <a href="/tech">Tech</a>
        </li>
        <li>
          <Dropdown class="group">
            <button
              class="flex items-center text-blue hover:cursor-coffee_select hover:text-rosewater"
              arial-label="Other Menu"
            >
              <span class="pr-1"> Other </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3"
                stroke="currentColor"
                class="mt-0.5 h-3 w-3 group-open:rotate-180"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <DropdownItems class="relative">
              <div
                class="absolute top-0 min-w-[250px] border border-overlay0 bg-mantle p-3 shadow-md shadow-crust"
              >
                <ul>
                  <li class="text-blue hover:text-rosewater">
                    <a href="/letter">Exchange Letter</a>
                  </li>
                  <li class="text-blue hover:text-rosewater">
                    <a href="/ships">Owned Ships</a>
                  </li>
                  <li class="text-blue hover:text-rosewater">
                    <a href="https://myanimelist.net/animelist/enigmalea"
                      ><Icon
                        name="simple-icons:myanimelist"
                        class="inline text-2xl"
                      /> Anime</a
                    >
                  </li>
                  <li class="text-blue hover:text-rosewater">
                    <a href="https://myanimelist.net/mangalist/enigmalea"
                      ><Icon
                        name="simple-icons:myanimelist"
                        class="inline text-2xl"
                      /> Manga</a
                    >
                  </li>
                  <li class="text-blue hover:text-rosewater">
                    <a href="/credits">Credits</a>
                  </li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</StickyHeader>
