---
import WidgetLayout from "./WidgetLayout.astro";
---

<WidgetLayout name="Blog Links">
  <ul class="m-0 p-0">
    <li class="list-none"><a href="/blog/1" class="no-underline">Home</a></li>
    <li class="list-none">
      <a href="/blog/archive" class="no-underline">Archive</a>
    </li>
    <li class="list-none">
      <a href="/blog/categories" class="no-underline">All Categories</a>
    </li>
    <li class="list-none">
      <a href="/blog/tags" class="no-underline">All Tags</a>
    </li>
  </ul>
</WidgetLayout>
