---
import WidgetLayout from "./WidgetLayout.astro";
import { getTagList } from "../../utils/blog-utils";

const tags = await getTagList();
---

<WidgetLayout name="Tags">
  <div class="flex flex-wrap gap-2">
    {
      tags.map((tag) => (
        <a
          href={`/blog/tags/${tag.name}`}
          class="rounded-md bg-surface0 p-2 no-underline hover:bg-surface2 hover:text-blue"
        >
          {tag.name}
        </a>
      ))
    }
  </div>
</WidgetLayout>
