---
import "@fontsource/unica-one";
import "@fontsource/atkinson-hyperlegible";
import "@fontsource/monaspace-neon";
import BlogNavbar from "../components/blog/BlogNavbar.astro";
import Header from "../components/Header.astro";
import BlogFooter from "../components/blog/BlogFooter.astro";
import CornerBuddy from "../components/CornerBuddy.astro";
import Sidebar from "../components/blog/Sidebar.astro";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} ★ enigmalea</title>
  </head>
  <body
    class="cursor-coffee bg-base prose-a:cursor-coffee prose-a:hover:cursor-coffee_select"
  >
    <BlogNavbar />
    <Header />
		<div class="flex justify-center">
			<div class="prose max-w-none grid grid-flow-row gap-0 m-0 p-0 min-[860px]:grid-flow-col justify-start">
			<Sidebar />
			<main
				class="mx-auto px-3 pb-14 prose-headings:font-mono order-first !min-[860px]:order-last min-[860px]:place-self-start"
			>
				<slot />
			</main>
		</div>
	</div>
    <CornerBuddy />
    <BlogFooter />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  a:any-link {
    cursor: url("/images/coffee.cur"), url("/images/coffee.png"), auto !important;
  }

  a:hover {
    cursor: url("/images/coffee_select.cur"), url("/images/coffee_select.png"),
      auto !important;
  }
</style>
