---
import Header from "../components/Header.astro";
import Socials from "../components/Socials.astro";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>enigmalea.quest</title>
  </head>
  <body class="bg-base text-text">
    <header class="sticky top-0 z-50 mx-auto w-[95vw] md:max-w-[800px] bg-base">
      <Header />
      <Socials />
      <Navbar />
    </header>
    <article class="mx-auto w-[95vw] px-3 md:max-w-[800px]">
      <slot />
    </article>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
